# ignore .git and .cache folders
.git
.cache


# ignore all markdown files (md) beside all README*.md other tha README-secret.md

*.md
!README*.md
README-secret.md


# ignore dockerfile and this file

Dockerfile
.dockerignore